{% extends 'bugs/base.html' %}

{% block customstatic %}
	{% load static %}
	<script src="{% static 'bugs/js/util.js' %}"></script>
{% endblock %}

{% block title %}| {{title}}{% endblock %}

{% block content %}

<h3>{{projectname}}</h3>
<small><a href="{{projecturl}}">&larr;back to issues</a> </small>
<hr>
<h1>
	{{title}} <span style="color: grey;">#{{id}}</span>
</h1>
<div class="dropdown" style="float: right;margin-top:-55px;">

	<button class="btn btn-lg dropdown-toggle" type="button" id="status-dropdown-menu-{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{status}}
	</button>
	<div id="status-dropdown-items-{{id}}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	</div>
</div>
<p>
	Priority: {{priority}}
	{% if tags %}
		<span style="border-left: thin solid black;margin: 10px;padding-left: 10px;">
			{% for tag in tags %}
				<span class="badge badge-info">{{tag}}</span>
			{% endfor %}
		</span>
	{% endif %}
</p>
<hr>
<div>
	{% if body %}
		{{body}}
	{% else %}
		<i class="text-muted">no description</i>
	{% endif %}
</div>
<hr>

<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#issueformmodal">
	Edit
</button>

<div class="modal fade" id="issueformmodal" tabindex="-1" role="dialog" aria-labelledby="issueformModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="issueformModal">Create a new issue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="issueform" method="POST">
				<div class="modal-body">
					<div class="form-group">
						<label for="{{issueform.title.auto_id}}">Title</label>
						<input type="text" class="form-control form-control-lg" id="{{issueform.title.auto_id}}" maxlength="{{issueform.title.field.max_length}}" required placeholder="Choose a title" value="{{issueform.title.value}}">
					</div>
					<div class="form-group">
						<label for="{{issueform.body.auto_id}}">Description</label>
						<textarea class="form-control" id="{{issueform.body.auto_id}}" rows="5" maxlength="{{issueform.body.field.max_length}}" placeholder="Describe the issue ..." value="{{issueform.body.value}}"></textarea>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="{{issueform.tags.auto_id}}">Tags</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="{{issueform.tags.auto_id}}" maxlength="{{issueform.tags.field.max_length}}" placeholder="e.g. bug, feature" value="{{issueform.tags.value}}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="{{issueform.priority.auto_id}}">Priority</label>
						<div class="col-sm-10">
							<input type="number" step="1" class="form-control" id="{{issueform.priority.auto_id}}" value="{{issueform.priority.value}}">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="this.form.reset()" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deletemodal">
	Delete
</button>

<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete this issue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="delete_issue('{{projectname}}', '{{id}}');">Delete</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		update_statusbutton('{{projectname}}', '{{id}}', '{{status}}');

		// form submit
		$("#issueform").submit(function(event) {
			console.log("it fucken happens");
			event.preventDefault();
			$.ajax({
				url: '/bugs/api/{{projectname}}/issues/{{id}}/',
				type: 'PUT',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					title: $('#{{issueform.title.auto_id}}').val(),
					body: $('#{{issueform.body.auto_id}}').val(),
					tags: $('#{{issueform.tags.auto_id}}').val(),
					priority: $('#{{issueform.priority.auto_id}}').val()
				},
				success: function(responsedata) {
					window.location.reload(true);
				},
				error: function(responsedata) {
					console.log("error");
					console.log(responsedata);
				}
			});
		});
	});
</script>

{% endblock %}
