{% extends 'bugs/base.html' %}

{% block customstatic %}
	{% load static %}
	<script src="{% static 'bugs/js/util.js' %}"></script>
{% endblock %}

{% block title %}| {{projectname}}{% endblock %}

{% block content %}

<h1>{{projectname}}</h1>
<small><a href="{% url 'projects' %}">&larr;back to projects</a> </small>
<hr>
<h2>Issues</h2>
<button type="button" class="btn btn-outline-primary" style="float: right;margin-top:-45px;" data-toggle="modal" data-target="#issueformmodal">
	+
</button>

<div class="modal fade" id="issueformmodal" tabindex="-1" role="dialog" aria-labelledby="issueformModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="issueformModal">Create a new issue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="issueform" method="POST">
				<div class="modal-body">
					<div class="form-group">
						<label for="{{issueform.title.auto_id}}">Title</label>
						<input type="text" class="form-control form-control-lg" id="{{issueform.title.auto_id}}" maxlength="{{issueform.title.field.max_length}}" required placeholder="Choose a title">
					</div>
					<div class="form-group">
						<label for="{{issueform.body.auto_id}}">Description</label>
						<textarea class="form-control" id="{{issueform.body.auto_id}}" rows="5" maxlength="{{issueform.body.field.max_length}}" placeholder="Describe the issue ..."></textarea>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="{{issueform.tags.auto_id}}">Tags</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="{{issueform.tags.auto_id}}" maxlength="{{issueform.tags.field.max_length}}" placeholder="e.g. bug, feature">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="{{issueform.priority.auto_id}}">Priority</label>
						<div class="col-sm-10">
							<input type="number" step="1" class="form-control" id="{{issueform.priority.auto_id}}" value="0">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="this.form.reset()" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" data-dismiss="modal" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<td><b>Title</b></td>
			<td><b>Priority</b></td>
			<td><b>Tags</b></td>
			<td><b>Status</b></td>
		</tr>
	</thead>
	<tbody id="issues-tablebody">
		{% for issue in issues %}
			<tr>
				<td>
					<a href="{% url 'issuedetails' projectname issue.pk %}">{{issue.title}}</a>
				</td>
				<td>{{issue.priority}}</td>
				<td>
					{% for tag in issue.tags_list %}
						<span class="badge badge-info">{{tag}}</span>
					{% endfor %}
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-sm dropdown-toggle" type="button" id="status-dropdown-menu-{{issue.pk}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{status}}
						</button>
						<div id="status-dropdown-items-{{issue.pk}}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		// generated code to update the status buttons
		{% for issue in issues %}
		update_statusbutton('{{projectname}}', '{{issue.pk}}', '{{issue.get_status_display}}');
		{% endfor %}

		// form submit
		$("#issueform").submit(function(event) {
			event.preventDefault();
			$.ajax({
				url: '/bugs/api/{{projectname}}/issues/',
				type: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					title: $('#{{issueform.title.auto_id}}').val(),
					body: $('#{{issueform.body.auto_id}}').val(),
					tags: $('#{{issueform.tags.auto_id}}').val(),
					priority: $('#{{issueform.priority.auto_id}}').val()
				},
				success: function(responsedata) {
					// add the new issue to the list
					var table = document.getElementById('issues-tablebody');
					var row = table.insertRow(0);
					var title = row.insertCell(0);
					var titlelink = document.createElement('a');
					titlelink.href = responsedata.url;
					titlelink.innerHTML = responsedata.title;
					title.appendChild(titlelink);
					row.insertCell(1).innerHTML = responsedata.priority;
					var tags = row.insertCell(2);
					for (let tagbadge of create_tag_badges(responsedata.tags)) {
						tags.appendChild(tagbadge);
					}
					row.insertCell(3).appendChild(make_status_dropdown(responsedata.id, responsedata.status));
					update_statusbutton('{{projectname}}', responsedata.id, responsedata.status);
					sort_issues_by_prioriry(table);
					document.getElementById('issueform').reset();
				},
				error: function(responsedata) {
					console.log("error");
					console.log(responsedata);
				}
			});
		});
	});
</script>

{% endblock %}
